<!-- <div class="main">
  <div class="heading">
    Space X Launch Programs
  </div>
  <div class="content"> 
  <div class="filter">
    <div>Filters</div>
    <div class="launch_year">
      <div class="launch">
       Launch Year
      </div>
      <div class="chips"> 
       <mat-chip-list  [selectable]="true">
        <mat-chip *ngFor="let chip of chips" #chip1="matChip" [selected]="chip.state" (selectionChange)="changeSelected('launch_year',chip.name,$event)"(click)="chip1.select()">{{chip.name}}</mat-chip>
      </mat-chip-list>
      </div>
    </div>
     <div class="launch_success">
      <div class="launch">
        Successful Launch
      </div>
      <div class="chips"> 
       <mat-chip-list  [selectable]="true">
        <mat-chip *ngFor="let chip of chipLaunch"  #chip2="matChip" [selected]="chip.state" (selectionChange)="changeSelected('launch_success',chip.name,$event)" (click)="chip2.select()">{{chip.name}}</mat-chip>
      </mat-chip-list>
      </div>
      </div>  
      <div class="launch_landing">
        <div class="launch">
          Successful Landing
         </div> 
         <div class="chips"> 
         <mat-chip-list  [selectable]="true">
          <mat-chip *ngFor="let chip of chipLanding"  #chip3="matChip" [selected]="chip.state" (selectionChange)="changeSelected('launch_landing',chip.name,$event)"(click)="chip3.select()" >{{chip.name}}</mat-chip>
        </mat-chip-list>
    </div>
        </div> 
  </div>  
  <div class="container">
    <div class="card" *ngFor="let data of dataList">
      <div class="card-container">
      <div class="image">
        <img [src]="data.links.mission_patch_small" loading="lazy" onerror="this.src='/assets/rocket.jpg'" alt="rocket images">
       </div>
       <span class="name">
        {{data.mission_name}} #{{data.flight_number}}
       </span>
       <span class="text">
        Mission Ids: <span>{{data.mission_id}}</span>
       </span>
       <span class="text">
        Launch Year <span>{{data.launch_year}}</span> 
       </span>
       <span class="text">
        Successful Launch <span>{{data.launch_success}}</span> 
       </span>
       <span class="text">
        Successful Landing <span>{{data.launch_landing}}</span>
       </span>       
    </div>
    </div>
   </div> 
   <div class="noRecord" *ngIf="noResult">
     No records Found
    </div> 
   </div>
   <div class="footer">
     Developed By: Shubham Gupta
  </div>

</div>   -->
Nothing for Free